.details{
  display: flex;
  justify-content: center;
  align-items: center;
}
.details1{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.details1 img{
    width: 25rem;
}
.details2{
    width: 50%;
    justify-content: center;
    align-items: center;
}
.Title{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.b{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.BrandCategory{
    display: flex;
    gap: 2rem;
}
.rated{
    display: flex;
    padding-bottom: 1rem;
}